* {

    margin : 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    min-height: 100vh;
}


.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:  1rem 2rem;
    background-color: #2c2c2c;
    width: 97vw;
}

.logo{
    font-size: 1.5rem;
    color: #ff7e00;
    text-decoration: none;
    font-weight: bold;

}

.nav-links-left{

    display: flex;
    list-style: none;
    align-items: center;
    justify-content: space-between;
    padding-left: 0;
    gap: 1.5 rem;
}
.nav-links-right{
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 3.5rem;
}

.nav-links-left li a,
.nav-links-right li a {
    color: #d6d6d6;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 500;
}

.nav-links-left li a:hover,
.nav-links-right li a:hover{
    color: #ff7e00;
}

/*responsive pour le nav*/

@media (max-width: 768px){
    .navbar{
        flex-direction: column;
    }

    .nav-links-left,
    .nav-links-right{
        flex-direction: column;
        align-items: center;
        gap: 1rem
    }
}

/**Image de fond**/

#annonces{

    height: 429px;
    width: 100vw;
}
/**Final Fantasy x Magic**/

.FinalFantasyXMagic{

    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 0;
    list-style: none;
    gap: 1.5rem;
    margin: 0;
    
}

.FinalFantasyXMagic img{
    max-width: 100px;
    height: auto;
    object-fit: contain;
}

/**annonces secret lair**/
.secretlair{
display: flex;
flex-direction: column;

gap: 20px;
width:90%;
max-width: 1200px;
margin: 0 auto;
}


#SecretLair{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}


#SecretLair h1,
#SecretLair p,
#SecretLair button{
    width: 100%;
}



.right-content{
    flex: 1;
    display: flex;
    flex-direction:  column;
    align-items: flex-end;
    gap: 15px;
}

.right-content h1{
    background-color: #f0f0f0;
    padding: 15px;
    box-shadow:  0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 80%;
    border-radius: 0;
}

button{
    padding: 15px 30px;
    background-color: white;
    border: 2px solid black;
    border-radius: 8px;
    cursor: pointer;
}

button:hover{
    background-color: black;
    color: white;
}

@media (min-width: 768px){
    #SecretLair{
        flex-direction: row;
        align-items: center;
    }

    .left-content{
        width: 50%;
        gap: 15px;
    }

    .right-content{
        width: 50%;
    }
}

/** Actu Magic **/

.ACTUDEMAGIC{
    display: flex;
    flex-direction: row-reverse;    
    
    align-items: center;
}
